@import 'reset';

$color: #fff;
$bg-color: #0000ff;


@mixin center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}




div {
    
    @include center-element;
    flex-direction: column;

    > h2 {
        background-color: $bg-color;
        color: $color;
    }

}

.border {
    border: 1px solid;
}

.exercise-7{
    flex-direction: row;
    p:first-of-type{
        @extend .border;
        border-color: red;
    }

    p:nth-child(2){
        @extend .border;
        border-color: blue;  
    }

    p:last-of-type {
        @extend .border;
        border-color: green;
    }

    p { 
        width:  calc(100% / 3 - 60px);
        margin: 10px;
    }
}


// loops
@for $i from 1 through 10 {
    .margin-#{$i} {
        margin: 4px * $i;
    }
}

$grid: 40px;
$gutter-width: 10px;

// functions 
@function grid-width($n) {
    @return calc($n * $grid + ($n-1) * $gutter-width);
}

#sidebar {
    width: grid-width(5);
}