*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("https://wallpaperaccess.com/full/6798923.jpg");
    background-size: cover;
    background-attachment: fixed;
}

button {
    padding: 8px 15px;
    border: 0;
}