*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

.counter-wrapper{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.counter-wrapper button {
	background-color: #000;
	color: #fff;
	padding: 10px 25px;
	border: 1px solid #000;
	margin: 10px;
	border-radius: 4px;
	transition: 0.6s;
}

.counter-wrapper button:hover {
	background-color: #fff;
	color: #000;
	transform: rotateX(360deg);

}