.castCard{

    overflow: hidden;
    border-radius: 5px;
    min-width: 200px;

     &:hover .card-inner {
        transform: rotateY(180deg);
    }


    .card{
        &-inner{
            position: relative;
            width: 100%;
            height: 300px;
            text-align: center;
            transition: transform .6s;
            transform-style: preserve-3d;
        }

        &-front,
        &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
        &-back {
            transform: rotateY(180deg);
        }
    }
    
    

    figcaption{
        bottom: 25px;
        left: 25px;
        color: #fff;
        font-weight: 600;
        width: min-content; 
    }

   
    
}